<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>&&title&&</title>
		<meta name="robots" content="noindex">
		<meta property="og:title" content="&&title&&">
		<meta property="og:description" content="&&description&&">
		<meta name="description" content="&&description&&">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="box">
			<h2>&&title&&</h2>
			<p>&&description&&</p>
			<textarea spellcheck="false" placeholder="&&placeholder&&"></textarea>
			<div class="submit button"><a href="&&path&&/submit">Submit</a></div>
		</div>
	</body>
</html>